body {
    background-image: url("/assets/images/newspapers.jpg");
    padding-top: 70px;
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}

#heading-home {
    background-color: crimson;
    color: white;
}

#heading-saved {
    background-color: crimson;
    color: white;
}

/*#panel-h {
    color: crimson;
}*/